nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    color: #FAF9F6;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;

}
nav li:first-child {
    margin-right: auto;
}
nav a:hover {
    color: #000;
    background-color: #FAF9F6;
    border-radius: 50px;
    transition: 0.25s ease;
}
.burger div {
    width: 25px;
    height: 2px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin: 5px;
    transition: all 0.3s ease;
}
.burger {
    display: none;
    cursor: pointer;
}
@media  screen and (max-width: 672px) {
    nav li:nth-child(2),
    nav li:nth-child(3),
    nav li:nth-child(4) {
        display: none;
    }
    
}
@media  screen and (max-width: 1024px) {
    nav li:nth-child(2),
    nav li:nth-child(3),
    nav li:nth-child(4) {
        display: none;
    }
}

