* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--font-color);
    min-height: 100vh;
}
.container {
    display: flex;
    margin-right: auto;
    padding: 70px 30px 50px;
}
.data-fill {
    display: flexbox;
    align-items: center;
    padding: 50px 90px 50px;
    margin-top: -800px;
    margin-left: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 25px;
}
.userid-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 30px 10px;
    border-radius: 10px;
}
.email-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 30px 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.passwd-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 30px 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.btn {
    display: flex;
    padding: 10px 30px 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid grey;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    color: var(--font-color);
    background-color: var(--bg-color);
    transition: ease 0.25s;
}
.login-img {
    display: flex;
    padding: 50px 100px 50px;

}
img {
    border-radius: 15%;
}

@media  screen and (max-width: 672px) {
    .container {
        display: flex;
        margin-right: auto;
        padding: 70px 30px 50px;
    }
    .data-fill {
        display: block;
        align-items: center;
        margin-top: -600px;
        margin-left: 190px;
    }
    .email-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 30px 10px;
        border-radius: 10px;
    }
    .passwd-box {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 30px 10px;
        border-radius: 10px;
    }
    .btn {
        display: flex;
        padding: 10px 30px 10px;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
        border-radius: 25px;
        border: 2px solid grey;
        background-color: white;
        color: black;
        font-size: 16px;
        cursor: pointer;
    }
    .btn:hover {
        color: var(--font-color);
        background-color: var(--bg-color);
        transition: ease 0.25s;
    }
    .login-img {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;
        height: 500px;
    }
    img {
        border-radius: 15%;
    }
}
@media  screen and (max-width: 1024px) {
    .container {
        display: flex;
        margin-right: auto;
        padding: 70px 30px 50px;
    }
    .data-fill {
        display: flexbox;
        align-items: center;
        padding: 50px 100px 50px;
        margin-left: 600px;
        margin-top: -600px;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(4px);
        border-radius: 25px;
    }
    .email-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 10px 30px 10px;
        border-radius: 10px;
    }
    .passwd-box {
        margin-top: 10px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 10px 30px 10px;
        border-radius: 10px;
    }
    .btn {
        display: flex;
        padding: 10px 30px 10px;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
        border-radius: 25px;
        border: 2px solid grey;
        background-color: white;
        color: black;
        font-size: 16px;
        cursor: pointer;
    }
    .btn:hover {
        color: var(--font-color);
        background-color: var(--bg-color);
        transition: ease 0.25s;
    }
    .login-img {
        display: flex;
        margin-left: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 750px;
        height: 800px
    }
    img {
        border-radius: 15%;
    }
}
