@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --font-family: "poppins";
    --bg-color: #000;
    --font-color: #FAF9F6;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--font-color);
    min-height: 100vh;
}
nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    color: #FAF9F6;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;

}
nav li:first-child {
    margin-right: auto;
}
nav a:hover {
    color: #000;
    background-color: #FAF9F6;
    border-radius: 50px;
    transition: 0.25s ease;
}
.burger div {
    width: 25px;
    height: 2px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin: 5px;
    transition: all 0.3s ease;
}
.burger {
    display: none;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 70px;

}
.head {
    width: 100%;
    height: 100vh;
    border-radius: 50px;

}
.head h1 {
    text-align: center;
    font-size: 3em;
    color: #FAF9F6;
}
.head p {
    color: #FAF9F6;
    text-align: center;
    font-size: 1.5em;
}

.head-text {
    font-size: 36px; 
    font-weight: bold;
    color: #fff; 
}
.text {
    flex: 1;
    padding: 20px;
    margin-left: 100px;
}
.text h2 {
    margin-bottom: 10px;
}
.text p {
    display: flex;
    margin: auto;

}
.image {
    display: flex;
    margin-left: 1000px;
    margin-top: -300px;
    margin-bottom: 100px;
    padding: auto;
}
img {
    border-radius: 50px;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.origin {
    display: flex;
    padding: 10px 30px 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    font-size: 16px;
}

.destination {
    display: flex;
    padding: 10px 30px 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 16px;
}
.btn {
    display: flex;
    padding: 10px 30px 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    border-radius: 25px;
    border: 2px solid grey;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.ok {
    border-color: grey;
    color: #000;
}
.ok:hover {
    background-color: #000;
    color: #FAF9F6;
    transition: ease-in 0.3s;
  
}
.btn-signup {
    text-decoration: none;
    color: #000;
}
.btn-signup:hover {
    color: #FAF9F6;
}
@media  screen and (max-width: 672px) {
    nav li:nth-child(2),
    nav li:nth-child(3),
    nav li:nth-child(4) {
        display: none;
    }
    .text {
        flex: 1;
        padding: 20px;
        margin: auto;
    }
    .text h2 {
        margin-bottom: 10px;
    }
    .text p {
        display: flex;
        margin: auto;
    
    }
    .image {
        display: flex;
        margin: 50px 50px 50px;
    }
}
@media  screen and (max-width: 1024px) {
    nav li:nth-child(2),
    nav li:nth-child(3),
    nav li:nth-child(4) {
        display: none;
    }
}

.nav-active {
transform: translateX(0%);

}
    .text {
        flex: 1;
        padding: 20px;
        margin: auto;
    }
    .text h2 {
        margin-bottom: 10px;
    }
    .text p {
        display: flex;
        margin: auto;
    
    }
    .image {
        display: flex;
        margin: 50px 50px 50px;
    }


footer {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
